<!DOCTYPE html>
<html>
<head>
    <title>Document Count</title>
</head>
<body>
    <h1>Document Count: <span id="count"><%= count %></span></h1>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('document count', function(count) {
            document.getElementById('count').textContent = count;
        });
    </script>
</body>
</html>
